textarea:invalid, input:invalid{
    border-color: red;
    border-width: 1px;
  }

  textarea:valid, input:valid{
    border-color: green;
    border-width: 1.5px;
  }

  body.dark_mode{
    textarea:valid, input:valid{
      border-width: 3px;
    }

    textarea:invalid, input:invalid{
      border-width: 2.5px;
    }
  }

  #name {
    margin-bottom: 5px;
  }

  input:focus, textarea:focus {
    border-color: #007bff;
    border-width: 1.5px !important;
    outline: none;
  }

  #email:invalid + #error_message{
    content: "Invalid input, please enter a valid age.";
  }

  #error-message {
    display: none;
    color: red;
  }

  #info-message{
    display: none;
    color: green
  }

  .fade-out {
    animation: fadeOut 1s forwards;
  }

  #character_count{
    font-size: 0.8rem;
  }
